In [3]:
odd = [1,3,5,7,9]

In [4]:
odd

[1, 3, 5, 7, 9]

In [5]:
a = []
b = [1,2,3]
c = ['Life','is','too','short']
d = [1,2,'Life','is']
e = [1,2,['Life','is']]

In [6]:
a = [1,2,3]

In [7]:
a[0]

1

In [8]:
a[0]+a[2]

4

In [9]:
a[-1]

3

In [12]:
a = [1,2,3,['a','b','c']]

In [13]:
a [-1]

['a', 'b', 'c']

In [14]:
a[-1][2]

'c'

In [15]:
a = [1,2,3,4,5]

In [16]:
a[0:2]  #0이상 2미만

[1, 2]

In [17]:
a = [1,2,3]
b = [4,5,6]

In [18]:
a+b

[1, 2, 3, 4, 5, 6]

In [19]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
len(a)

3

In [21]:
a = [1,2,3]

In [22]:
a[2] =4

In [23]:
a

[1, 2, 4]

In [24]:
del a[1]

In [25]:
a

[1, 4]

In [26]:
del a[2:]

In [27]:
a

[1, 4]

In [28]:
a = [1,2,3]

In [29]:
a.append(4)   #4를 추가

In [30]:
a

[1, 2, 3, 4]

In [31]:
a.append([5,6])

In [32]:
a

[1, 2, 3, 4, [5, 6]]

In [33]:
a = [1,4,3,2]

In [34]:
a

[1, 4, 3, 2]

In [35]:
a.sort()

In [36]:
a

[1, 2, 3, 4]

In [49]:
a = [2,3,1]

In [51]:
a.sort()
a.reverse()

In [52]:
a

[3, 2, 1]

In [53]:
a.sort(reverse = True) #모르는 것은 구글검색

In [54]:
a

[3, 2, 1]

In [55]:
a = [1,2,3]

In [56]:
a.index(3)

2

In [57]:
a.index(0)

ValueError: 0 is not in list

In [58]:
a.insert(0,4)    #a.append는 끝에다가 추가 (빈번사용)

In [59]:
a                #a.insert는 0자리에 4를 넣어라

[4, 1, 2, 3]

In [60]:
a = [1,2,3,1,2,3]

In [61]:
a.remove(3)

In [62]:
a

[1, 2, 1, 2, 3]

In [63]:
a.remove(3)

In [64]:
a

[1, 2, 1, 2]

In [71]:
a = [1,2,3]

In [72]:
a.pop()    #맨 마지막 요소 삭제 #알고리즘때 다른용도로 사용됨.

3

In [73]:
a

[1, 2]

In [74]:
a = [1,2,3,1]

In [76]:
a.count(1)   #leg는 전체 길이, account는 특정한 것의 갯수

2

In [77]:
a = [1,2,3]
a.extend([4,5])#a.append[5,6]리스트 안에! 리스트가 맨 뒤 추가

In [78]:
a    #a.extend 는 리스트 안에! 풀어져서 맨 뒤에 추가

[1, 2, 3, 4, 5]

In [82]:
####################
# Tuple
##################

In [85]:
t1 = ()
t2 = (1,)    #튜플의 특징 :1>요소가 하나일때 쉼표를 (넣는다.
t3 = (1,2,3)           
t4 = 1,2,3  # 2> 괄호생략가능
t5 = ('a','b',('ab','cd'))

In [86]:
t1 = (1,2,'a','b')

In [87]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [88]:
t1[0] = 'c'    # 튜플은 수정 삭제 불가능

TypeError: 'tuple' object does not support item assignment

In [89]:
t1[0]     # [] 리스트의 대괄호 아니고 인덱싱 (가르키는 것)[]임.

1

In [90]:
t1[1]

2

In [91]:
t1[1:]

(2, 'a', 'b')

In [92]:
t2 = (3,4)

In [93]:
t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [94]:
t2*2

(3, 4, 3, 4)

In [95]:
t1 = (1,2,3,4)

In [96]:
len(t1)

4

In [9]:
##############################
# Dictionary
##############################

In [10]:
a = {1:'a'}
a[2] = 'b'

In [11]:
a

{1: 'a', 2: 'b'}

In [12]:
a['name'] = 'pey'

In [13]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [14]:
a[3] = [1,2,3]

In [15]:
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [17]:
del a[1]

In [18]:
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [23]:
grade = {'pey' : 10, 'julliet': 99}

In [24]:
grade['pey']

10

In [25]:
grade['julliet']

99

In [26]:
a = {1:'a',2:'b'}

In [27]:
a[1]

'a'

In [28]:
a[2]

'b'

In [29]:
a = {'a':1,'b':2}

In [30]:
a['a']

1

In [31]:
a['b']

2

In [32]:
dic = {'name':'pey','phone':'0119993323','birth':1118}

In [33]:
dic['name']

'pey'

In [35]:
dic['phone']

'0119993323'

In [36]:
dic['birth']

1118

In [37]:
a = {'name':'pey','phone':'0119993323','birth':'1118'}

In [38]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [40]:
list(a.keys())

#key값은 고유해야하기때문에 리스트는(mutable) key 자리에 쓸 수 없음.

['name', 'phone', 'birth']

In [43]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [44]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [45]:
a.clear()

In [46]:
a

{}

In [47]:
a = {'name':'pey','phone':'0119993323','birth':'1118'}

In [48]:
a.get('name')

'pey'

In [49]:
a.get('phone')

'0119993323'

In [50]:
print(a.get('nokey'))

None

In [51]:
a.get('foo','bar')

'bar'

In [52]:
a = {'name':'pey','phone':'0119993323','birth':'1118'}

In [53]:
'name'in a

True

In [54]:
'email'in a

False

In [63]:
dic = {'name':'홍길동','birth':1128,'age':30}

In [64]:
s1 = set([1,2,3])

In [65]:
s1

{1, 2, 3}

In [66]:
s2 = set('hello')

In [67]:
s2

#set 중복을 허용하지 않는다, 순서가 없다

{'e', 'h', 'l', 'o'}

In [68]:
s1 = set([1,2,3])

In [69]:
l1 = list(s1)

In [70]:
l1

[1, 2, 3]

In [71]:
l1[0]

1

In [72]:
t1 =tuple(s1)

In [73]:
t1

(1, 2, 3)

In [74]:
t1[0]

#set은 순서가 없기때문에 인덱싱 불가하여, 튜플이나,리스트로 변형해야함.

1

In [75]:
s1 = set([1,2,3,4,5,6])

In [76]:
s2 = set([4,5,6,7,8,9])

In [77]:
s1 & s2

{4, 5, 6}

In [78]:
s1.intersection(s2)

{4, 5, 6}

In [79]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [81]:
s1 - s2

{1, 2, 3}

In [82]:
s2 - s1

{7, 8, 9}

In [83]:
s1.difference(s2)

{1, 2, 3}

In [84]:
s2.difference(s1)

{7, 8, 9}

In [85]:
s1 = set([1,2,3])

In [86]:
s1.add(4)

In [87]:
s1  
#한개 값만 추가

{1, 2, 3, 4}

In [89]:
s1 = set([1,2,3])

In [90]:
s1.update([4,5,6])

In [91]:
s1
#여러개의 값을 한번에 추가

{1, 2, 3, 4, 5, 6}