In [109]:
class FourCal:

    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [110]:
a =FourCal()

In [111]:
a.setdata(4,2)

In [112]:
a.first

4

In [113]:
a.second

2

In [114]:
b = FourCal()

In [115]:
b.setdata(3,7)

In [116]:
b.first

3

In [117]:
b.second

7

In [118]:
id(a.first)

140729481701248

In [119]:
id(b.first)

140729481701216

In [120]:
b = FourCal()

In [136]:
b.setdata(3,8)

In [137]:
b.first

3

In [138]:
b.second

8

In [139]:
b.add()

11

In [140]:
b.div()

0.375

In [141]:
####생성자#####

In [144]:
class FourCal:
    def __init__(self, first, second):
        self.first = first
        self.second = second

#     def setdata(self, first, second):
#         self.first = first
#         self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [146]:
a = FourCal(4,2)
#오류 났던 이유, 이닛으로 생성자 설정해서 a = FourCal()말고 first, second값을 바로 입력 해야했음.

In [147]:
print(a.first)

4

In [148]:
print(a.second)

2

In [149]:
a.add()

6

In [150]:
a.div()

2.0

In [ ]:
####### 클라스 상속 ########

In [152]:
class MoreFourCal(FourCal):
    pass

In [153]:
a = MoreFourCal(4,2)
a.add()

6

In [154]:
a.mul()

8

In [156]:
a.sub()

2

In [157]:
a.div()

2.0

In [158]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result

In [159]:
a = MoreFourCal(4,2)

In [160]:
a.add()

6

In [161]:
a.pow()

16

In [162]:
a = FourCal(4,0)

In [163]:
a.div()

#0으로 나눠서 에러남. 따라서 매서드 오버라이딩(덮어쓰기)하면 됨.

ZeroDivisionError: division by zero

In [164]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:
            return 0
        else:
            return self.first / self.second

In [165]:
a = SafeFourCal(4,0)
a.div()

#0으로 나눴을때 0으로 정상 결과값 나옴.

0

In [ ]:
######예외처리 18th진도 #######

In [102]:
try:
    f = open("없는파일",'r')
except FileNotFoundError:
    pass

In [103]:
f = open("없는파일",'r')

FileNotFoundError: [Errno 2] No such file or directory: '없는파일'

In [104]:
class Bird:
    def fly(self):
        raise NotIementedError

In [205]:
class Eagle(Bird):
    pass

eagle = Eagle()
eagle.fly()

NameError: name 'NotIementedError' is not defined

In [174]:
############# 자식 것을 인식하여 정상값 도출 ####

In [175]:
class Eagle(Bird):
    def fly(self):
        print('very fast')

In [176]:
eagle.fly()

very fast

In [179]:
#예외 만들기

In [193]:
class MyError(Exception):
    pass

In [194]:
def say_nick(nick):
    if nick == '바보':
        raise MyError()
    print(nick)

In [195]:
say_nick('천사')

천사

In [196]:
say_nick('바보')

MyError:

In [198]:
try:
    say_nick('천사')
    say_nick('바보')
except MyError as e:
    print(e)

천사

In [199]:
class MyError(Exception):
    def __str__(self):
        return'허용되지 않는 별명입니다.''

SyntaxError: EOL while scanning string literal (<ipython-input-199-d569a199500d>, line 3)

In [180]:
###########내장함수#############

In [181]:
abs(3)

3

In [182]:
abs(-3)


#절대값

3

In [183]:
all([1,2,3])

True

In [184]:
all([1,2,3,0])

#하나라도 거짓이 있으면 거짓, and의 개념

False

In [ ]:
any  #or의 개념

In [185]:
any([1,2,3,0])
#True 가 하나라도 있으면 참

True

In [187]:
any([])

False

In [188]:
chr(98)

#ASCII (아스키 코드, 표준문자 코드) 코드 값을 입력받아, 해당하는 문자 출력

'b'

In [189]:
dir([1,2,3])

#객체가 자체적으로 가지고 있는 변수와 함수를 보여줌. 따라서 여기있는 것은 변수로 만들 수 없음.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [190]:
divmod(7,3)

#앞에 숫자가 몫, 뒤에 숫자가 나머지

(2, 1)

In [191]:
##많이쓰니 외우기##
# enumerate (열거하다)

In [192]:
for i, name in enumerate(['body','foo','bar']):
    print(i,name)
    
    
    #인덱스값 (순서값)을 포함하는 객체를 돌려준다.

0 body
1 foo
2 bar

In [209]:
#자주쓰이는 내장함수만 훑는 중#

In [306]:
#filter

def positive(l):
    result = []
    for i in l:
        if i> 0:
            result.append(i)
    return result

In [307]:
print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [215]:
def positive(x):
    return x>0

In [216]:
print(list(filter(positive,[1,-3,2,0,-5,6])))

[1, 2, 6]

In [228]:
a = 3

#id 객체의 고유 주소 값

In [229]:
id(a)

140729481701216

In [230]:
b=a

In [231]:
id(b)

140729481701216

In [232]:
a = input()

hi

In [234]:
b = input('입력하세요 :')

입력하세요 :93555

In [236]:
type(b)

str

In [237]:
c = int(input('입력하세요:'))

입력하세요:1235

In [238]:
type(c)   
#int를 앞에 써서 숫자도 스트링으로 인식되는 것을 숫자로 인식하게 함.

int

In [239]:
#len


len('python')

6

In [241]:
len('py thon') 
#파이썬은 띄어쓰기도 글자이다, 또한 , 를 사용하여 띄어쓰기

7

In [242]:
len([1,2,3])

3

In [243]:
#list

list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [244]:
list((1,2,3))


#튜플을 -()로 되어있는  리스트로 바꾸기. 튜플은 변경이 불가하니, 리스트로 바꿔서 고치기

[1, 2, 3]

In [247]:
#map


def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

In [248]:
result = two_times([1,2,3,4])
print(result)

[2, 4, 6, 8]

In [249]:
#map함수로 간단하게

#함수의 요소를 하나씩 리스트로 적용


def two_times(x):
    return x*2

In [250]:
list(map(two_times,[1,2,3,4]))

[2, 4, 6, 8]

In [251]:
# max 최대값 ,min최소값 문자도 최대,최소값이 있다.


max([1,2,3])

3

In [252]:
max('python')

'y'

In [253]:
min([1,2,3])

1

In [254]:
min('python')

'h'

In [255]:
# ord함수 <-> chr함수


ord('a')

97

In [257]:
chr(97)

'a'

In [258]:
#range

In [298]:
list(range(5))

[0, 1, 2, 3, 4]

In [299]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [300]:
list(range(1,10,2))
#1부터 9까지 숫자거리 간격2

[1, 3, 5, 7, 9]

In [261]:
#round 반올림

round(4.2)

4

In [263]:
round(5.678,2)
#소수점의 두 자리까지 표시, 반 올림

5.68

In [264]:
#str    <-> 인티저랑 반대말

str(3)

'3'

In [265]:
type(str(3))

str

In [268]:
str('hi'.upper())  
# 죄다 대문자로

'HI'

In [271]:
str('HI'.lower())
# 죄다 소문자로

'hi'

In [273]:
#sum


sum([1,2,3])

6

In [275]:
sum([332,342,456])
1130 / 3

376.6666666666667

In [302]:
# 함수 하나로 평균값구하기

In [295]:
import numpy as np
a = np.array([332,342,456])
print(a.mean())

376.6666666666667

In [301]:
#zip 각각 묶어준다.
list(zip([1,2,3],[4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [303]:
#type 입력값의 자료형이 무엇인지 알려준다
type('abc')

str