In [2]:
a = 1
b = 'python'
c = [1,2,3]

In [8]:
a = [1,2,3]
b = a

In [7]:
id(a)

1280127441600

In [9]:
id(b)

1280128174656

In [10]:
# 주석입니다.

In [11]:
a = [1,2,3]

In [12]:
b = a[:]

In [14]:
a[1] = 4

In [15]:
a

[1, 4, 3]

In [16]:
b

[1, 2, 3]

In [17]:
id(a)

1280127980096

In [18]:
id(b)

1280127980544

In [19]:
from copy import copy

In [20]:
b = copy(a)

In [21]:
b is a

False

In [24]:
id(a)

1280127980096

In [23]:
id(b)

1280128242624

In [25]:
a = 'python'
b = 'life'

In [26]:
a, b = ('python','life')

In [27]:
a

'python'

In [28]:
b

'life'

In [29]:
a = b = 'python'

In [30]:
a

'python'

In [31]:
b

'python'

In [32]:
a = 3
b = 5 
a,b = b,a

In [33]:
a

5

In [34]:
b

3

In [35]:
a = 123

In [37]:
a

123

In [38]:
a = 0

In [39]:
a = 1.2

In [40]:
a

1.2

In [41]:
a = 3

In [42]:
b = 4

In [43]:
a + b

7

In [44]:
a * b

12

In [45]:
a / b

0.75

In [46]:
a = 3
b = 4

In [48]:
a ** b

81

In [49]:
4 % 2 #2로 나누어 나머지 0이 나오면 무조건 짝수

0